/community.exe
/convert.exe
/hierarchy.exe
/as20graph.bin
/as20graph.gr
/as20graph.tree
/com_amazon_ungraph.bin
/com_amazon_ungraph.gr
/com_amazon_ungraph.tree
/karate.bin
/karate.gr
/karate.tree
/polbooks.bin
/polbooks.gr
/polbooks.tree
/graph_node2comm_level2
